@import './../pages';

@boxBackground: rgba(8 17 29 / 85%);

[id="m_img"]:not([src]) {
  min-height: 200px;
}

#c_list > a.mal-sync-active {
  background-color: @activeEp !important;
}

#malp {
  margin-left: 220px;

  input {
    border: none !important;
    display: inline-block !important;
  }
}
